/* ==========================================================================
   reset.css
   ========================================================================== */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/font-awesome/font/fontawesome-webfont.eot?v=3.2.1");
  src: url("../fonts/font-awesome/font/fontawesome-webfont.eot?#iefix&v=3.2.1") format("embedded-opentype"), url("../fonts/font-awesome/font/fontawesome-webfont.woff?v=3.2.1") format("woff"), url("../fonts/font-awesome/font/fontawesome-webfont.ttf?v=3.2.1") format("truetype"), url("../fonts/font-awesome/font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em; }

[class^="icon-"]:before, [class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none; }

.icon-large:before {
  vertical-align: -10%;
  font-size: 1.3333333333333333em; }

a [class^="icon-"], a [class*=" icon-"] {
  display: inline; }

[class^="icon-"].icon-fixed-width, [class*=" icon-"].icon-fixed-width {
  display: inline-block;
  width: 1.1428571428571428em;
  text-align: right;
  padding-right: 0.2857142857142857em; }

[class^="icon-"].icon-fixed-width.icon-large, [class*=" icon-"].icon-fixed-width.icon-large {
  width: 1.4285714285714286em; }

.icons-ul {
  margin-left: 2.142857142857143em;
  list-style-type: none; }

.icons-ul > li {
  position: relative; }

.icons-ul .icon-li {
  position: absolute;
  left: -2.142857142857143em;
  width: 2.142857142857143em;
  text-align: center;
  line-height: inherit; }

[class^="icon-"].hide, [class*=" icon-"].hide {
  display: none; }

.icon-muted {
  color: #eeeeee; }

.icon-light {
  color: #ffffff; }

.icon-dark {
  color: #333333; }

.icon-border {
  border: solid 1px #eeeeee;
  padding: .2em .25em .15em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.icon-2x {
  font-size: 2em; }

.icon-2x.icon-border {
  border-width: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.icon-3x {
  font-size: 3em; }

.icon-3x.icon-border {
  border-width: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.icon-4x {
  font-size: 4em; }

.icon-4x.icon-border {
  border-width: 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }

.icon-5x {
  font-size: 5em; }

.icon-5x.icon-border {
  border-width: 5px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

[class^="icon-"].pull-left, [class*=" icon-"].pull-left {
  margin-right: .3em; }

[class^="icon-"].pull-right, [class*=" icon-"].pull-right {
  margin-left: .3em; }

[class^="icon-"], [class*=" icon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0; }

.icon-white, .nav-pills > .active > a > [class^="icon-"], .nav-pills > .active > a > [class*=" icon-"], .nav-list > .active > a > [class^="icon-"], .nav-list > .active > a > [class*=" icon-"], .navbar-inverse .nav > .active > a > [class^="icon-"], .navbar-inverse .nav > .active > a > [class*=" icon-"], .dropdown-menu > li > a:hover > [class^="icon-"], .dropdown-menu > li > a:hover > [class*=" icon-"], .dropdown-menu > .active > a > [class^="icon-"], .dropdown-menu > .active > a > [class*=" icon-"], .dropdown-submenu:hover > a > [class^="icon-"], .dropdown-submenu:hover > a > [class*=" icon-"] {
  background-image: none; }

.btn [class^="icon-"].icon-large, .nav [class^="icon-"].icon-large, .btn [class*=" icon-"].icon-large, .nav [class*=" icon-"].icon-large {
  line-height: .9em; }

.btn [class^="icon-"].icon-spin, .nav [class^="icon-"].icon-spin, .btn [class*=" icon-"].icon-spin, .nav [class*=" icon-"].icon-spin {
  display: inline-block; }

.nav-tabs [class^="icon-"], .nav-pills [class^="icon-"], .nav-tabs [class*=" icon-"], .nav-pills [class*=" icon-"], .nav-tabs [class^="icon-"].icon-large, .nav-pills [class^="icon-"].icon-large, .nav-tabs [class*=" icon-"].icon-large, .nav-pills [class*=" icon-"].icon-large {
  line-height: .9em; }

.btn [class^="icon-"].pull-left.icon-2x, .btn [class*=" icon-"].pull-left.icon-2x, .btn [class^="icon-"].pull-right.icon-2x, .btn [class*=" icon-"].pull-right.icon-2x {
  margin-top: .18em; }

.btn [class^="icon-"].icon-spin.icon-large, .btn [class*=" icon-"].icon-spin.icon-large {
  line-height: .8em; }

.btn.btn-small [class^="icon-"].pull-left.icon-2x, .btn.btn-small [class*=" icon-"].pull-left.icon-2x, .btn.btn-small [class^="icon-"].pull-right.icon-2x, .btn.btn-small [class*=" icon-"].pull-right.icon-2x {
  margin-top: .25em; }

.btn.btn-large [class^="icon-"], .btn.btn-large [class*=" icon-"] {
  margin-top: 0; }

.btn.btn-large [class^="icon-"].pull-left.icon-2x, .btn.btn-large [class*=" icon-"].pull-left.icon-2x, .btn.btn-large [class^="icon-"].pull-right.icon-2x, .btn.btn-large [class*=" icon-"].pull-right.icon-2x {
  margin-top: .05em; }

.btn.btn-large [class^="icon-"].pull-left.icon-2x, .btn.btn-large [class*=" icon-"].pull-left.icon-2x {
  margin-right: .2em; }

.btn.btn-large [class^="icon-"].pull-right.icon-2x, .btn.btn-large [class*=" icon-"].pull-right.icon-2x {
  margin-left: .2em; }

.nav-list [class^="icon-"], .nav-list [class*=" icon-"] {
  line-height: inherit; }

.icon-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: -35%; }

.icon-stack [class^="icon-"], .icon-stack [class*=" icon-"] {
  display: block;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 1em;
  line-height: inherit;
  *line-height: 2em; }

.icon-stack .icon-stack-base {
  font-size: 2em;
  *line-height: 1em; }

.icon-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear; }

a .icon-stack, a .icon-spin {
  display: inline-block;
  text-decoration: none; }

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg); } }
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg); } }
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg); }
  100% {
    -o-transform: rotate(359deg); } }
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(359deg); } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(359deg); } }
.icon-rotate-90:before {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); }

.icon-rotate-180:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); }

.icon-rotate-270:before {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); }

.icon-flip-horizontal:before {
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.icon-flip-vertical:before {
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1); }

a .icon-rotate-90:before, a .icon-rotate-180:before, a .icon-rotate-270:before, a .icon-flip-horizontal:before, a .icon-flip-vertical:before {
  display: inline-block; }

.icon-envelope:before {
  content: "\f0e0"; }

.icon-phone:before {
  content: "\f095"; }

.icon-map-marker:before {
  content: "\f041"; }

/* ==========================================================================
   base.css
   ========================================================================== */
@font-face {
  font-family: BebasNeue;
  src: url(../fonts/BebasNeue.otf);
  src: url(../fonts/bebasneue-webfont.eot);
  src: url(../fonts/bebasneue-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/bebasneue-webfont.woff) format("woff"), url(../fonts/bebasneue-webfont.ttf) format("truetype"), url(../fonts/bebasneue-webfont.svg#bebas_neueregular) format("svg"); }
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background: #ffffff;
  color: #474747;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

h1,
h2,
h3,
h4,
label {
  font-family: BebasNeue;
  text-decoration: none;
  letter-spacing: 1px; }

h2 {
  font-size: 2.8em;
  color: #858484;
  text-align: center;
  margin: 22px 0 30px 0; }

<<<<<<< HEAD
h3 {
  font-size: 1.9em;
  line-height: 1.1em;
=======
h3,
label {
  font-size: 2.9em;
>>>>>>> release/v3.0_-_SMACSS_REWRITE
  margin: 0;
  line-height: 1.1em;
  font-style: normal !important; }

h4 {
  font-size: 1.6em;
  color: #474747;
  margin: 0px; }

<<<<<<< HEAD
label {
  font-size: 1.9em;
  margin: 0;
  font-style: normal !important; }
=======
p,
span {
  font-size: 1.6em;
  line-height: 1.3em; }
>>>>>>> release/v3.0_-_SMACSS_REWRITE

#homepage p {
  font-family: BebasNeue;
  color: #ffffff;
  text-decoration: none;
  font-size: 4.38em;
<<<<<<< HEAD
  line-height: 1.1em;
=======
  line-height: 1.2em;
>>>>>>> release/v3.0_-_SMACSS_REWRITE
  margin: 0;
  padding: 0 10%;
  text-transform: uppercase; }

<<<<<<< HEAD
#about p {
  margin: 25px 5px; }

/*General Styles*/
=======
>>>>>>> release/v3.0_-_SMACSS_REWRITE
a {
  color: #48b348;
  text-decoration: none; }

a,
a:hover,
a:focus {
  cursor: pointer; }

em {
  font-style: italic;
  font-family: BebasNeue; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
hr {
    height: 2px;
    border: 0;
    margin: 0;
    box-shadow: inset 0 2px 2px -2px rgba(0, 0, 0, 0.5);
}
*/
img {
  border: none; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.center {
  margin: 0 auto;
  text-align: center; }

.clear {
  clear: both;
  display: block;
  font-size: 0;
  line-height: 0; }

/* ==========================================================================
   layout.css
   ========================================================================== */
/* Sliding Navigation*/
.loading {
  width: 100%;
  height: 700px;
  background: url(../images/loading.gif) no-repeat center center;
  position: absolute;
  z-index: 100; }

#contentSlide {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  position: absolute;
  background: #f2f2f2;
  top: 0; }

.pageContainer {
  position: absolute;
  width: 100%;
  min-height: 100%;
  float: none !important;
  z-index: 4900;
  top: 0;
  background: #f2f2f2; }

.wrap {
  margin: 0 auto;
  width: 80%;
  max-width: 920px;
  padding-top: 65px; }

/* Header */
header {
  height: 65px;
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5000; }
  header .set-size {
    position: relative; }
  header #logo {
    float: left;
    padding: 5px 15px 0 0; }

.shadow {
  background: url(../images/top-shadow-medium-2.png) repeat-x;
  height: 15px;
  position: absolute;
  top: 65px;
  width: 100%;
  z-index: 5000; }

/*Body*/
.whiteBox,
.footerBox {
  position: relative;
  width: 100%;
  z-index: 2;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.95);
  float: left;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3); }

.whiteBox {
  min-height: 640px;
  padding: 0 1.6em 4em 1.6em; }

.footerBox {
  margin-bottom: 100px; }

#homepage .whiteBox {
  padding: 0; }

.footerBox span {
  font-size: 1.1em;
  color: #858484; }

/*Responsive Grid*/
/*  SECTIONS  */
.section {
  clear: both;
  padding: 0;
  margin: 0; }

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%; }

.col:first-child {
  margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1;
  /* For IE 6/7 */ }

/*  GRID OF TWO  */
.span_2_of_2 {
  width: 100%; }

.span_1_of_2 {
  width: 49.2%; }

.span_3_of_3 {
  width: 100%; }

.span_2_of_3 {
  width: 66.13%; }

.span_1_of_3 {
  width: 32.26%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%; }

  .span_2_of_2,
  .span_1_of_2 {
    width: 100%; }

  .span_3_of_3,
  .span_2_of_3,
  .span_1_of_3 {
    width: 100%; }

  .lastColumn {
    margin-top: 50px; } }
/* ==========================================================================
   module.css
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/*Carousel*/
.carousel {
  position: relative;
  margin-top: 30px; }
  .carousel .carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%; }
    .carousel .carousel-inner .item {
      display: none;
      position: relative;
      -webkit-transition: 0.6s ease-in-out left;
      transition: 0.6s ease-in-out left; }
    .carousel .carousel-inner .item > img,
    .carousel .carousel-inner .item > a > img {
      display: block;
      max-width: 100%;
      height: auto;
      line-height: 1; }
    .carousel .carousel-inner .active,
    .carousel .carousel-inner .next,
    .carousel .carousel-inner .prev {
      display: block; }
    .carousel .carousel-inner .active {
      left: 0; }
    .carousel .carousel-inner .next,
    .carousel .carousel-inner .prev {
      position: absolute;
      top: 0;
      width: 100%; }
    .carousel .carousel-inner .next {
      left: 100%; }
    .carousel .carousel-inner .prev {
      left: -100%; }
    .carousel .carousel-inner .next.left,
    .carousel .carousel-inner .prev.right {
      left: 0; }
    .carousel .carousel-inner .active.left {
      left: -100%; }
    .carousel .carousel-inner .active.right {
      left: 100%; }
  .carousel .carousel-control {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15%;
    opacity: 0.7;
    filter: alpha(opacity=70);
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }
  .carousel .carousel-control.left {
    background-image: -webkit-gradient(linear, 0% top, 100% top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.0001)));
    background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.5) 0%), color-stop(rgba(0, 0, 0, 0.0001) 100%));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1); }
  .carousel .carousel-control.right {
    left: auto;
    right: 0;
    background-image: -webkit-gradient(linear, 0% top, 100% top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.5)));
    background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.0001) 0%), color-stop(rgba(0, 0, 0, 0.5) 100%));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1); }
  .carousel .carousel-control:hover,
  .carousel .carousel-control:focus {
    color: #ffffff;
    text-decoration: none;
    opacity: 0.9;
    filter: alpha(opacity=90); }
  .carousel .carousel-control .icon-prev,
  .carousel .carousel-control .icon-next,
  .carousel .carousel-control .glyphicon-chevron-left,
  .carousel .carousel-control .glyphicon-chevron-right {
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 5;
    display: inline-block; }
  .carousel .carousel-control .icon-prev,
  .carousel .carousel-control .icon-next {
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px; }
  .carousel .carousel-control .icon-prev:before {
    content: '\2039'; }
  .carousel .carousel-control .icon-next:before {
    content: '\203a'; }
  .carousel .carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    margin-left: -30%;
    padding-left: 0;
    list-style: none;
    text-align: center; }
  .carousel .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    cursor: pointer; }
  .carousel .carousel-indicators .active {
    margin: 0;
    width: 12px;
    height: 12px;
    background-color: #ffffff; }
  .carousel .carousel-caption {
    position: absolute;
    left: 15%;
    right: 15%;
    bottom: 20px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }
  .carousel .carousel-caption .btn {
    text-shadow: none; }

/* Primary Button */
.btn {
  font-family: BebasNeue;
  font-weight: 100;
  text-align: center;
  letter-spacing: 0.125em;
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.btn-primary {
  color: #ffffff;
<<<<<<< HEAD
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }

.carousel-caption .btn {
  text-shadow: none; }

/*Contact Page*/
.contactPara {
  margin: 0; }

#contactForm #contact-input {
  width: 100%;
  height: 0px;
  background: #ffffff;
  background-color: rgba(255, 255, 255, 0.95); }
#contactForm #contact-us {
  width: 95%; }
#contactForm .formblock {
  display: block;
  width: 100%;
  margin: 0 0 11px 0; }
#contactForm .formblock label {
  display: block;
  font-weight: normal; }
#contactForm .formblock .txt {
  padding: 6px 6px;
  color: #666;
  width: 99.5%;
  border: 1px solid #979797;
  background-color: #ffffff; }
#contactForm .formblock .txt:focus {
  border: 1px solid #74b9f0;
  outline: none; }
#contactForm .formblock .txtarea {
  padding: 3px 5px;
  color: #666;
  width: 100%;
  height: 160px; }
#contactForm textarea {
  padding: 6px 4px;
  color: #666;
  width: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: textfield;
  background-color: white;
  border: 1px solid #979797;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  cursor: auto; }
#contactForm textarea:focus {
  border: 1px solid #74b9f0;
  outline: none; }
#contactForm .formblock .error {
  font-weight: bold;
  font-style: normal;
  color: #9d3131; }
#contactForm .info {
  font-weight: bold;
  color: #48b348;
  margin-bottom: 10px; }
#contactForm p.tick {
  text-decoration: none;
  color: #474747;
  line-height: 1.9em;
  font-weight: normal; }
#contactForm .subbutton {
  float: right; }

/* Revolver.js*/
.loading {
  width: 100%;
  height: 700px;
  background: url(../images/loading.gif) no-repeat center center;
  position: absolute;
  z-index: 100; }

#contentSlide {
  width: 100%;
  min-height: 100%;
  padding-bottom: 100px;
  overflow: hidden;
  position: absolute;
  background: #f2f2f2;
  top: 0; }

.pageContainer {
  position: absolute;
  width: 100%;
  min-height: 100%;
  float: none !important;
  z-index: 4900;
  top: 0;
  background: #f2f2f2; }
=======
  background-color: #428bca;
  border-color: #357ebd; }
>>>>>>> release/v3.0_-_SMACSS_REWRITE

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #3276b1;
  border-color: #285e8e; }

#about .btn,
#contact .btn {
  font-size: 2em; }

/* NavButtons */
#menu {
  height: 65px;
  position: absolute;
  right: 10px;
  font-family: BebasNeue; }
  #menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: BebasNeue; }
  #menu a {
    text-decoration: none;
    font-family: BebasNeue; }
  #menu > ul > li {
    float: left;
    margin: 15px 5px;
    position: relative; }
  #menu > ul > li > a {
    line-height: 1.4em;
    color: #858484;
    padding: 0 15px; }
  #menu > ul > li:hover > a {
    color: #474747; }
  #menu > ul > li > a.current {
    color: #474747; }
  #menu span {
    font-size: 2.7em; }
  #menu .menu-label {
    padding-right: 0; }
  #menu .menu-drop:hover .menu-label {
    background-position: right -23px; }
  #menu .menu-right {
    float: right; }
  #menu li:hover ul {
    left: 0;
    opacity: 1; }

/*Progress Bars*/
.progress {
  width: 100%;
  overflow: hidden;
  height: 20px;
  margin-bottom: 20px;
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.progress .bar {
  width: 0;
  height: 100%;
  color: #ffffff;
  float: left;
  font-size: 0.75em;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease; }

.progress .bar + .bar {
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15); }

/*Portfolio Images*/
a.fancybox img {
  width: 100%;
  -moz-transition: opacity .3s linear;
  -webkit-transition: opacity .3s linear;
  -ms-transition: opacity .3s linear;
  -o-transition: opacity .3s linear;
  transition: opacity .3s linear;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); }

a.fancybox img:hover {
  cursor: pointer;
  opacity: 0.75;
  filter: alpha(opacity=75);
  /* For IE8 and earlier */ }

/*Contact Page*/
#contact p {
  margin-top: 5px; }

.contactItem {
  margin-top: 60px;
  font-size: 1.6em; }

i {
  color: #48b348;
  margin-right: 12px; }

#contactForm #contact-input {
  width: 100%;
  height: 0px;
  background: #ffffff;
  background-color: rgba(255, 255, 255, 0.95); }
#contactForm #contact-us {
  width: 100%; }
#contactForm .formblock {
  display: block;
  width: 100%;
  margin: 0 0 11px 0; }
  #contactForm .formblock label {
    display: block;
    font-weight: normal; }
  #contactForm .formblock .txt,
  #contactForm .formblock textarea {
    font-size: 1.6em;
    padding: 6px 6px;
    color: #666;
    width: 100%;
    border: 1px solid #979797; }
  #contactForm .formblock textarea {
    height: 160px; }
#contactForm .formblock .txt:focus,
#contactForm textarea:focus {
  border: 1px solid #74b9f0;
  outline: none; }
#contactForm .formblock .error {
  font-weight: bold;
  font-style: normal;
  color: #9d3131; }
#contactForm .info {
  font-weight: bold;
  color: #48b348;
  margin-bottom: 10px; }
#contactForm p.tick {
  text-decoration: none;
  color: #474747;
  line-height: 1.9em;
  font-weight: normal; }
#contactForm .subbutton {
  float: right; }

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top; }

.fancybox-wrap {
  position: absolute;
  margin-top: 0;
  top: 0;
  left: 0;
  z-index: 8020;
  vertical-align: top; }

.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  vertical-align: top; }

.fancybox-opened {
  z-index: 8030; }

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); }

.fancybox-outer, .fancybox-inner {
  position: relative; }

.fancybox-inner {
  overflow: hidden; }

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch; }

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap; }

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%; }

.fancybox-image {
  max-width: 100%;
  max-height: 100%; }

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("../images/fancybox/fancybox_sprite.png"); }

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060; }

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("../images/fancybox/fancybox_loading.gif") center center no-repeat; }

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040; }

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 36px;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("../images/fancybox/blank.gif");
  /* helps IE */
  -webkit-tap-highlight-color: transparent;
  z-index: 8040; }

.fancybox-prev {
  left: 0; }

.fancybox-next {
  right: 0; }

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  /*visibility: hidden;*/ }

.fancybox-prev span {
  left: -60px;
  background-position: 0 -36px; }

<<<<<<< HEAD
  #about .span_1_of_3 {
    margin-top: 25px; }

  .background {
    background-image: url(../images/ny_mobile.jpg);
    padding: 50px 0 0 0; }
=======
.fancybox-next span {
  right: -60px;
  background-position: 0 -72px; }
>>>>>>> release/v3.0_-_SMACSS_REWRITE

.fancybox-nav:hover span {
  visibility: visible; }

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important; }

/* Overlay helper */
.fancybox-lock {
  overflow: hidden !important;
  width: auto; }

.fancybox-lock body {
  overflow: hidden !important; }

.fancybox-lock-test {
  overflow-y: hidden !important; }

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("../images/fancybox/fancybox_overlay.png"); }

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0; }

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: hidden; }

/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050; }

.fancybox-opened .fancybox-title {
  visibility: visible; }

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 9.5%;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center; }

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: transparent;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap; }

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff; }

.fancybox-title-inside-wrap {
  padding-top: 10px; }

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  right: 94px;
  color: #fff;
  padding: 10px;
  background: #000;
  background: transparent; }

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url("../images/fancybox/fancybox_sprite@2x.png");
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/ }

  #fancybox-loading div {
    background-image: url("../images/fancybox/fancybox_loading@2x.gif");
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/ } }
/* Title Link Hack */
.hidden {
  display: none; }

.fancybox-title a {
  color: #fff; }

/* ==========================================================================
   state.css
   ========================================================================== */
.no-js {
  /*
  #contentSlide > div:not(:last-child) .footerBox {
      display: none;
  }
  */ }
  .no-js #homepage,
  .no-js #about,
  .no-js #portfolio,
  .no-js #contact {
    display: block; }
  .no-js nav {
    display: none; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.mobile {
  display: none; }

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/* ==========================================================================
   media-queries.css
   ========================================================================== */
/*Tablet*/
@media screen and (max-width: 991px) {
  /*General Styles Tablet*/
  html {
    overflow-y: auto; }

  .wrap {
    width: 100%; }

  /*Fancybox Tablet*/
  .fancybox-nav span {
    top: 55%; }

  .fancybox-next span {
    right: -15px; }

  .fancybox-prev span {
    left: -15px; }

  /*Carousel Tablet*/
  .carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%; }

  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px; }

  .carousel-caption {
    left: 20%;
    right: 20%;
    padding-bottom: 30px; }

  .carousel-indicators {
    bottom: 20px; } }
/*Mobile*/
@media only screen and (max-width: 745px) {
  /*General Styles Mobile*/
  body {
    font-size: 10px; }

  .desktop {
    display: none; }

  .mobile {
    display: block; }

  .wrap {
    padding-top: 38px; }

  h1 {
    color: #ffffff;
    line-height: 50px; }

  h4 {
    font-size: 2em; }

  #about p {
    font-size: 1.4em; }

  #contact p {
    font-size: 1.7em; }

  .formblock .txt,
  .formblock .txtarea {
    font-size: 16px; }

  .background {
    background-image: url(../images/ny_mobile.jpg);
    padding: 50px 0 0 0; }

  .progress {
    width: 100%; }

  .contactItem {
    font-size: 1.7em;
    margin-top: 30px; }

  /* NavBar Mobile */
  header {
    height: 38px; }

  header #logo {
    width: 105px;
    text-align: center;
    padding: 5px 5px 0 0; }

  header #logo a img {
    width: 105px;
    height: 27.5px; }

  .shadow {
    top: 38px; }

  #menu {
    height: 30px;
    top: 10px;
    right: 2px; }
    #menu span {
      font-size: 1.7em; }

  #menu > ul > li {
    margin: 0px 3px; }

  #menu > ul > li > a {
    padding: 7px 0px 10px;
    line-height: 1.4em;
    color: #858484; } }
